*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    background-color: white;
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
}


nav {
    display: flex;
    align-items: center;
    gap: 65rem;
    min-height: 8vh;
    font-family: 'Growland Slim';
    background-color: white;
    border: 1px solid white;
}


.title {
    
    padding-left: 3rem;
    justify-content: flex-start;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    font-size: 17px;
    color: black;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style-type: none;
    

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
    text-decoration: none;
}

nav a:hover {
  
    color: red;
}



.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 3.5px;
    transition: all 0.3s ease;

}
    
   
.wrapper {
    display: grid;
    padding: 1rem;
    grid-template-columns: 220px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    height: 42rem;
    font-family: 'Growland Slim';
}

#logo {
    max-width: 100%;
    height: auto;
    border: 1px solid white;
    border-radius: 30%;
    width: 20rem;
}

.description {
    
    text-align: left;
    padding: 20px;
    font-family: 'Growland Slim';
    font-size: 1rem;
    z-index: 1;
}




    
@media screen and (max-width: 500px) {
    body {
        overflow-y:hidden;
    }
  .wrapper {
    display: grid;
    padding: 4.5rem;
    grid-template-columns: 250px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    height: 35rem;
    font-family: 'Growland Slim';
  }

  .description {
    position: absolute;
    text-align: center;
    left: 0px;
    top: 33rem;
    font-size: .79rem;

  }

  .nav-links {
    position: absolute;
    right: 1rem;
    height: 20vh;
    top: 5vh;
    width: 35%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.6s ease-in;
}
.nav-links li {
    opacity: 1; 
}


.title {

    padding-left: 1.5rem;
    justify-content: flex-start;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    font-size: 17px;
    color: black;
}

.nav-active {
     transform: translateX(0%);
}

.burger {
    display: block;
    position: absolute;
    right: 1.5rem;

}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
        to{
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .toggle .line2{
        opacity: 0;
    }

    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }


  

/*@media screen and (min-width: 900px){
    body{
        overflow-x:hidden;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 30%;
        list-style-type: none;
        
    
    }
    
    .nav-links li {
        list-style: none;
    }
    
    .nav-links a {
        color: black;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        letter-spacing: 3px;
        text-decoration: none;
    }
    
    nav a:hover {
      
        color: red;
    }
        
    .wrapper {
        display: grid;
        padding: 1rem;
        grid-template-columns: 220px 1fr;
        gap: 1rem;
        align-items: center;
        max-width: 800px;
        margin: 0 auto;
        height: 42rem;
        font-family: 'Growland Slim';
    }

    #logo {
        max-width: 100%;
        height: auto;
        border: 1px solid white;
        border-radius: 30%;
        width: 20rem;
    }

    .description {
        
        text-align: left;
        padding: 20px;
        font-family: 'Growland Slim';
        font-size: 1rem;
        z-index: 1;
    }
}*/
